@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logoff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Bem vindo " + User.Identity.GetUserName() + "", "Logado", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li> @Html.ActionLink("Alterar senha", "ChangePassword", "Manage")</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Sair</a></li>
       
    </ul>
    }

    

    <ul class="nav navbar-nav navbar-left">
        
        <li>@Html.ActionLink("Diretoria", "Index", "Planilha")</li>
       
        <li>@Html.ActionLink("Atendimento", "Index", "Planilha")</li>

        <li>@Html.ActionLink("Imóvel", "Index", "Planilha")</li>
        
        <li>@Html.ActionLink("RH", "Index", "Planilha")</li>

        <li>@Html.ActionLink("TI", "Index", "Planilha")</li>

        <li>@Html.ActionLink("Auditoria", "Index", "Planilha")</li>

        <li>@Html.ActionLink("Cobrança", "Index", "Planilha")</li>

        <li>@Html.ActionLink("Reativação", "Index", "Planilha")</li>

        <li>@Html.ActionLink("Operações", "Index", "Planilha")</li>

        <li>@Html.ActionLink("Contabilidade", "Index", "Planilha")</li>

        <li>@Html.ActionLink("Compras", "Index", "Planilha")</li>

        <li>@Html.ActionLink("Financeiro", "Index", "Planilha")</li>

        <li>@Html.ActionLink("Cadastro", "Index", "Planilha")</li>

        <li>@Html.ActionLink("Jurídico", "Index", "Planilha")</li>








    </ul>

   

    

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Cadastre-se", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
