@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logoff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Bem vindo " + User.Identity.GetUserName() + "", "Logado", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li> @Html.ActionLink("Alterar senha", "ChangePassword", "Manage")</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Sair</a></li>
       
    </ul>
    }

    

    <ul class="nav navbar-nav navbar-left">

        
        <li>@Html.ActionLink("Diretoria", "Index", "Planilha")</li>
        
     
        <li>@Html.ActionLink("Atendimento", "", "")</li>

        <li>@Html.ActionLink("Imóvel", "", "")</li>
        
        <li>@Html.ActionLink("RH", "", "")</li>

        <li>@Html.ActionLink("TI", "", "")</li>

        <li>@Html.ActionLink("Auditoria", "", "")</li>

        <li>@Html.ActionLink("Cobrança", "", "")</li>

        <li>@Html.ActionLink("Reativação", "", "")</li>

        <li>@Html.ActionLink("Operações", "", "")</li>

        <li>@Html.ActionLink("Contabilidade", "", "")</li>

        <li>@Html.ActionLink("Compras", "", "")</li>

        <li>@Html.ActionLink("Financeiro", "", "")</li>

        <li>@Html.ActionLink("Cadastro", "", "")</li>

        <li>@Html.ActionLink("Jurídico", "", "")</li>








    </ul>

   

    

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Cadastre-se", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
